template(name='afImageFileUpload')
    div
      if file
        if file.isUploaded
          +Template.dynamic template=previewTemplate data=file
          div
            a.js-remove(href='#')
              i.fa.fa-times
              |  {{removeLabel}}
        else
          span Uploading...
          +progressBar
      else
        unless cameraNativeBrowser
          button.btn.js-select-file(type='button') {{label}}
          br
          |or
          br
          button.btn.js-camera-file(type='button') {{cameraLabel}}
        else
          button.btn.js-camera-file(type='button') {{mobileLabel}}

        input.hidden.js-file(type='file' accept='{{atts.accept}}')
      input.js-value(type='hidden' value='{{value}}' data-schema-key='{{schemaKey}}')

  template(name='afImageFileUploadThumbIcon')
    a.btn.btn-default(target='_blank' href='{{url}}')
      i.fa(class="fa-{{icon}}")
      |  {{original.name}}
      
  template(name='afImageFileUploadThumbImg')
    img.img-fileUpload-thumbnail.img-thumbnail.img-rounded(src='{{url}}' alt='')

  template(name='imageProgressBar')
    .progress.progress-striped.active
      .progress-bar(role='progressbar' aria-valuenow='' aria-valuemin='0' aria-valuemax='100' style='width: {{progress}}%;')
        span.sr-only #{progress}% Complete
